// libs
@use "../assets/css-libs/normalize.min.css" as *;

// helpers
@use "./base/base_styles.scss" as *;

// sections
@use "sections/Buttons/buttons.scss" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Consolas';
}

.app {
	width: 100vw;
	height: 100vh;
	background: #3c3c3c;
	display: flex;
	justify-content: center;
	background: url('../assets/img/bg-main.jpg') center center / cover no-repeat;
}

.container {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}